
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 55px;
    align-items: center;
    justify-content: center;

    max-width: 686px;
    height: calc(100vh - 80px);
    margin: 0 auto;

    transition: height 1s ease, align-items 1s ease, gap 1s, max-width 1s;
}

.wrapper__top {
    gap: 22px;
    align-items: flex-start;

    max-width: 1000px;
    height: calc(100% - 80px);
    padding-top: 40px;
}

p {
    font-size: 36px;
    font-weight: 400;
}

.search {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 52px;
}

.search input {
    width: calc(100% - 150px);
    min-width: calc(100% - 150px);
    padding-left: 15px;

    font-size: 20px;

    border-top: 1px solid rgb(23 23 25 / 20%);
    border-right: none;
    border-bottom: 1px solid rgb(23 23 25 / 20%);
    border-left: 1px solid rgb(23 23 25 / 20%);
    border-radius: 5px 0 0 5px;
}

.search input:focus {
    background-color: rgb(197 228 249 / 30%);
    border-top: 2px solid #1390E5;
    border-bottom: 2px solid #1390E5;
    border-left: 2px solid #1390E5;
    outline: none;


}

.search input::placeholder {
    font-size: 20px;
    color: #1717194D;
}

.search button {
    cursor: pointer;

    width: 150px;

    font-size: 20px;
    line-height: 52px;
    color: #fff;
    text-align: center;
    vertical-align: middle;

    background-color: #1390E5;
    border: none;
    border-radius: 0 5px 5px 0;
}

.search button:hover {
    opacity: 0.9;
}

.block__button {
    position: relative;
    left: -40px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.unliked {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.unliked__block {
    width: 40px;
}

.container_card {
    width: 100%;
}

.result__info, .info__left {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

.bold {
    font-weight: 500;
}

.amount {
    font-weight: 400;
    color: rgb(23 23 25 / 30%);
}

.content__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    place-items: center center;

    width: 100%;
    margin-top: 20px;
}

/* card grid */
.card {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 245px;
    height: 226px;
}

.card img {
    cursor: pointer;
    height: 138px;
    border: 1px solid #1390E5;
}

.title, .channel {
    font-size: 14px;
}

.channel {
    font-weight: 400;
    color: rgb(23 23 25 / 30%);
}

/* card list */

.content__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 20px;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 687px;
}

.list img {
    cursor: pointer;
    width: 157px;
    height: 88px;
    border: 1px solid #1390E5;

}

.list__block {
    width: 510px;
}

@media screen and (width <= 992px) {
    .content__grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (width <= 768px) {
    .content__grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (width <= 480px) {
    .content__grid {
        grid-template-columns: 1fr;
    }
}
