header {
    width: 100%;
    min-width: 100vw;
    height: 80px;
    background-color: #fff;
    
}

.header__menu {
    max-width: 1000px;
    margin: 0 auto;
}



.header__menu, .header__menu div {
    display: flex;
    flex-direction: row;
}

.header__menu {
    justify-content: space-between;
}

.header__menu div img {
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin-top: 16px;
}

.header__button {
    cursor: pointer;

    height: 80px;
    margin: 0 26px;

    line-height: 80px;
    color: #1390E5;
    text-align: center;
    vertical-align: middle;

    transition: 0.2s ease;
}

.header__button:hover {
    border-bottom: 2px solid #1390E5;
}

@media screen and (width <= 480px) {
    .header__menu {
        justify-content: center;
    }

    .header__button {
        margin: 0 8px;
    }
}